/* Pagina Esta Sendo Desenvolvida No Tamanho 1024 X 768 */

/* Import Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
}

header {
    background-image: url(src/img/programming-1873854_1280.png) ;
    height: 768px;
}

.conteiner-header {
    background-color: #161616d0;
}

.list-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 250px;
    list-style-type: none;
    font-size: 25px;
}

.list-header li a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.list-header li a:hover {
    color: hsl(171, 100%, 41%);
}

.title-header {
    height: 400px;
    display: flex;
    justify-content: space-around;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 70px;
    justify-content: space-around;
}

.img-perfil {
     border-radius: 50%;

     width: 300px;
     height: 300px;
}

.conteiner-img-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-header h2 {
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: #161616;
}

.conteiner-who-am-I, .conteiner-portfolio {
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteiner-portfolio {
    height: 800px;
}

.conteiner-who-am-I h2, .conteiner-portfolio h2 {
    color: #ffffff27;
    padding-left: 6.515%;
    font-size: 47px;
}

.description-paragraph {
    align-self: flex-end;

    padding-right: 6.515%;
    font-size: 18px;
    width: 510px;
    height: 200px;
}

.position-button {
    display: flex;
    justify-content: flex-end;

    margin-right: 6.515%;
}

.btn-outline-custom {
    color: hsl(171, 100%, 41%);
    border: 1px solid hsl(171, 100%, 41%);
}

.btn-outline-custom:hover {
    color: black;
    background-color: hsl(171, 100%, 41%) ;
}

.list-card {
    display: flex;
    justify-content: space-around;
}

.project-carousel {
    margin: 50px 0;
}

.card-color {
    background-color: black;    
}

.border-card {
    border: 2px solid hsl(171, 100%, 41%);
}

footer {
    height: 350px;
    background-color: rgba(0, 0, 0, 0.877);
}
